@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h2 {
    font-size: clamp(theme('fontSize.3xl'), 5vw, theme('fontSize.5xl'));
  }

  tr:hover td {
    background-color: theme('colors.bg-gray-light');
    cursor: pointer;
  }
}
